.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .05), 0 1px 0 rgba(0, 0, 0, .05);
}
.sidebar {
  position: fixed;
  width: 200px;
  top: 61px;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
  z-index: 999;
}
.navbar-brand {
  float: left;
  height: 60px;
  line-height:  60px;
  text-align: center;
  width: @sidebar-width;
  background-color: @color-primary;
  color: #fff;
}
.navbar-userctl{
  background-color: red;
  width: 200px;
  float: right;
  height: 60px;
  line-height:  60px;
}
