@import './components/dialog';
@import './components/loading';
@import './components/bar';
@import './components/card';
@import './page-style/login';
@import './base/font';
@import './base/color-size';
@import './base/form';
@import './base/table';
@import './base/img';
// 主要内容位置
.main-contain {
  margin-left: 205px;
  margin-top: 76px;
}

.user-home {
  div {
    overflow: auto;
  }
}

.home .el-pagination__editor.el-input {
  width: 50px;
}

.searchDiv {
  .el-input {
    height: 40px;
    width: 100%;
    .el-input__inner {
      height: 40px;
      width: 100%;
    }
  }
  .el-input--suffix {
    height: 40px;
    width: 100%;
  }
}

//not-found
.not-found {
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 100%;
  margin: 0 auto;
}

.home {
  .box-card {
    text-align: left;
  }
  .el-input {
    width: 200px;
  }
  .el-textarea {
    width: 600px;
  }
  .el-badge {
    margin-top: 10px;
    margin-right: 40px;
  }
}

.user-home {
  height: 100%;
  width: 100%;
}

.user-home-above {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
  height: 100%;
  width: 100%;
}

.user-box-card {
  height: 90%;
  width: 100%;
}
